:root {
  --main-color: #d77948;
  --secondary-color: #f1e8e1;
  --third-color: #e3d2c5;
  --main-headline-font: "Playfair Display", serif;
  --other-headline-fonts: "Poppins", sans-serif;
}

.hero {
  background: var(--secondary-color);
  padding: 160px 0;
  text-align: center;
}
.container {
  max-width: 1200px;
}
.btn-brandin {
  background-color: var(--main-color);
  border-radius: 4px;
  padding: 18px 30px;
  margin: 40px 0;
  width: 200px;
  font-family: var(--other-headline-fonts);
  font-size: 18px;
  color: white;
  transition: all 300ms ease-in-out;
}
.btn-brandin:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
  border-color: var(--main-color);
}
.btn-view-project {
  border: 1px solid var(--main-color);
  padding: 10px 20px;
  font-family: var(--other-headline-fonts);
  color: var(--main-color);
  transition: all 200ms ease-in-out;
}
.btn-view-project:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
  opacity: 0.8;
}
.row {
  margin: 80px 0;
}
.featured-projects {
  text-align: center;
  padding-top: 40px;
}
.project-description {
  padding: 60px 20px;
}
.img-fluid {
  border-radius: 20px;
}
.content-container h1 {
  font-size: 64px;
}
.content-container h2 {
  font-size: 18px;
}
.content-container p {
  font-size: 16px;
  font-weight: normal;
}
.content {
  padding: 20px;
}
.content h1 {
  font-size: 58px;
  line-height: 80px;
}
.content h2 {
  font-size: 35px;
  padding: 10px;
}
.content p {
  padding: 10px;
}

.hero-photo {
  padding: 20px;
  border-radius: 10px;
}

.btn-primary {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.btn-primary:hover {
  color: var(--main-color);
  background-color: white;
  border-color: var(--main-color);
}
.header-contact {
  font-size: 64px;
  font-family: var(--headline-font);
  padding: 100px 100px 20px;
}
.content-contact {
  padding: 0 100px;
}
.nav-container {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
nav li {
  display: inline;
  padding: 10px;
}
li a,
a {
  color: black;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
li a:hover,
a:hover {
  color: var(--main-color);
}
nav li.active a {
  color: var(--main-color);
}
.name {
  font-family: var(--headline-font);
  font-size: 25px;
}
footer .mail-link {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
footer .social-links {
  text-align: center;
  padding-bottom: 20px;
}
.fa-brands {
  font-size: 20px;
  padding: 10px;
  color: var(--main-color);
  background-color: var(--third-color);
  border-radius: 50%;
  margin: 20px;
}
.fa-brands:hover {
  color: white;
  background-color: var(--main-color);
}
.contact-box {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: 40px 100px 20px;
}
h2,
h3,
h4,
p {
  font-family: var(--other-headline-fonts);
}
h1 {
  font-family: var(--headline-font);
  font-size: 96px;
  font-weight: 700;
  margin: 20px 0 40px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
}
h4 {
  font-size: 64px;
}
p {
  font-size: 20px;
  opacity: 0.7;
}
@media (max-width: 992px) {
  h1 {
    font-size: 60px;
  }
  h3 {
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
  }
  h4 {
    font-size: 40px;
  }
  p {
    font-size: 15px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
  }
  .content-container h1 {
    font-size: 50px;
  }
  .content-container h2,
  .content-container p {
    font-size: smaller;
  }
  .hero-photo {
    width: 300px;
    padding: 0;
    padding-top: 10px;
  }
  .content h1 {
    font-size: 40px;
  }
  .header-contact {
    font-size: 50px;
    text-align: center;
  }
  .content-contact {
    text-align: center;
  }
  .nav-container {
    font-size: smaller;
  }
  .name {
    display: none;
  }
  .contact-box {
    display: block;
    text-align: center;
  }

  .contact-box h3 {
    font-size: 30px;
  }
}
